<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>merocv api</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white p-5">
        <div class="container px-4 text-center p-5">
            <h1 class="fw-bolder">welcome to merocv api- devops</h1>
            <p class="lead">this is the merocv api documentation page</p>
           
        </div>
    </header>
    <!-- About section-->
    <section class="text-center mt-4">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>API ENDPOINTS</h2>
                    <p class="lead">All the endpoints of the api are listed below in the table.</p>

                    <table class="table mt-5">
                        <thead >
                          <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">api endpoint</th>
                            <th scope="col">desc</th>
                           
                          </tr>
                        </thead>
                        <tbody class="text-center">
                          <tr class="text-center">
                            <th scope="row">1</th>
                            <td><a href="/auth/register">/auth/register</a></td>
                            <td  ><span class="badge text-bg-success">Post</span></td>
                           
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td><a href="/auth/login">/auth/login</a></td>
                            <td  ><span class="badge text-bg-success">Post</span></td>
                           
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td><a href="/cv/userinfo">/cv/userinfo</a></td>
                            <td  ><span class="badge text-bg-success">Post</span></td>
                           
                          </tr>
                         
                        
                        </tbody>
                      </table>
                   
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>